<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Adduser</servlet-name>
        <servlet-class>Admin.Adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loansubmit</servlet-name>
        <servlet-class>Regular.Loansubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <servlet-class>Regular.DisplayPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPhotosServlet</servlet-name>
        <servlet-class>Regular.ListPhotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPhotoServlet2</servlet-name>
        <servlet-class>Regular.DisplayPhotoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPhotosServlet2</servlet-name>
        <servlet-class>Regular.ListPhotosServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>Regular.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>client.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>client.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequest</servlet-name>
        <servlet-class>Admin.ApproveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanCalculator</servlet-name>
        <servlet-class>client.LoanCalculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish</servlet-name>
        <servlet-class>client.Finish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Processpayment</servlet-name>
        <servlet-class>client.Processpayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentAdminSearch</servlet-name>
        <servlet-class>Admin.PaymentAdminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>Admin.Activation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEdit</servlet-name>
        <servlet-class>Admin.saveEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveBio</servlet-name>
        <servlet-class>client.saveBio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savaBank</servlet-name>
        <servlet-class>client.savaBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifiedServlet</servlet-name>
        <servlet-class>inspection.VerifiedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCollateral</servlet-name>
        <servlet-class>inspection.VerifyCollateral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>inspection.verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeniedServlet</servlet-name>
        <servlet-class>inspection.DeniedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Declined_Request</servlet-name>
        <servlet-class>Admin.Declined_Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify2</servlet-name>
        <servlet-class>inspection.verify2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollateralVerfication</servlet-name>
        <servlet-class>inspection.CollateralVerfication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paymentreceipt</servlet-name>
        <servlet-class>Admin.Paymentreceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewpayment</servlet-name>
        <servlet-class>Admin.viewpayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCareRegistry</servlet-name>
        <servlet-class>CustomerCare.CustomerCareRegistry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintLoanAgreement</servlet-name>
        <servlet-class>CustomerCare.PrintLoanAgreement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionRecord</servlet-name>
        <servlet-class>CustomerCare.TransactionRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLoanAgreement</servlet-name>
        <servlet-class>CustomerCare.UploadLoanAgreement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Extension</servlet-name>
        <servlet-class>Admin.Extension</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedeemLoan</servlet-name>
        <servlet-class>inspection.RedeemLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redeemServlet</servlet-name>
        <servlet-class>inspection.redeemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FundAccount</servlet-name>
        <servlet-class>Admin.FundAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditAccount</servlet-name>
        <servlet-class>Admin.CreditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPayment</servlet-name>
        <servlet-class>Admin.SendPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebitClient</servlet-name>
        <servlet-class>Admin.DebitClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInvestInfo</servlet-name>
        <servlet-class>Investor.GetInvestInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestorInterestReturn</servlet-name>
        <servlet-class>Investor.InvestorInterestReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanInvest</servlet-name>
        <servlet-class>Investor.LoanInvest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInvestInfo</servlet-name>
        <servlet-class>Investor.SaveInvestInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanAds</servlet-name>
        <servlet-class>Admin.LoanAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAuthorizationPin</servlet-name>
        <servlet-class>Investor.SetAuthorizationPin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStaff</servlet-name>
        <servlet-class>Admin.viewStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEditStaff</servlet-name>
        <servlet-class>Admin.saveEditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>Admin.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>Admin.edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adduser</servlet-name>
        <url-pattern>/Adduser</url-pattern>
    </servlet-mapping>
    <listener>
        <description>kambok.com</description>
        <listener-class>model.MyListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>Loansubmit</servlet-name>
        <url-pattern>/Loansubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <url-pattern>/DisplayPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPhotosServlet</servlet-name>
        <url-pattern>/ListPhotosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPhotoServlet2</servlet-name>
        <url-pattern>/DisplayPhotoServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPhotosServlet2</servlet-name>
        <url-pattern>/ListPhotosServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequest</servlet-name>
        <url-pattern>/ApproveRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanCalculator</servlet-name>
        <url-pattern>/LoanCalculator</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Finish</servlet-name>
        <url-pattern>/Finish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Processpayment</servlet-name>
        <url-pattern>/Processpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentAdminSearch</servlet-name>
        <url-pattern>/PaymentAdminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/Activation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEdit</servlet-name>
        <url-pattern>/saveEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveBio</servlet-name>
        <url-pattern>/saveBio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savaBank</servlet-name>
        <url-pattern>/savaBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifiedServlet</servlet-name>
        <url-pattern>/VerifiedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCollateral</servlet-name>
        <url-pattern>/VerifyCollateral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeniedServlet</servlet-name>
        <url-pattern>/DeniedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Declined_Request</servlet-name>
        <url-pattern>/Declined_Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify2</servlet-name>
        <url-pattern>/verify2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollateralVerfication</servlet-name>
        <url-pattern>/CollateralVerfication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paymentreceipt</servlet-name>
        <url-pattern>/Paymentreceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewpayment</servlet-name>
        <url-pattern>/viewpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCareRegistry</servlet-name>
        <url-pattern>/CustomerCareRegistry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintLoanAgreement</servlet-name>
        <url-pattern>/PrintLoanAgreement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionRecord</servlet-name>
        <url-pattern>/TransactionRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLoanAgreement</servlet-name>
        <url-pattern>/UploadLoanAgreement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Extension</servlet-name>
        <url-pattern>/Extension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedeemLoan</servlet-name>
        <url-pattern>/RedeemLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redeemServlet</servlet-name>
        <url-pattern>/redeemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FundAccount</servlet-name>
        <url-pattern>/FundAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditAccount</servlet-name>
        <url-pattern>/CreditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPayment</servlet-name>
        <url-pattern>/SendPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebitClient</servlet-name>
        <url-pattern>/DebitClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInvestInfo</servlet-name>
        <url-pattern>/GetInvestInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestorInterestReturn</servlet-name>
        <url-pattern>/InvestorInterestReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanInvest</servlet-name>
        <url-pattern>/LoanInvest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInvestInfo</servlet-name>
        <url-pattern>/SaveInvestInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanAds</servlet-name>
        <url-pattern>/LoanAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAuthorizationPin</servlet-name>
        <url-pattern>/SetAuthorizationPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStaff</servlet-name>
        <url-pattern>/viewStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEditStaff</servlet-name>
        <url-pattern>/saveEditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
